<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-4.1.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd" >  
	
	
	<bean id="student" class="com.tyy.spring.basic.Student">
		<property name="id" value="3"/>
		<property name="name" value="Scott"/>
	</bean>
	
	<bean id="student2" class="com.tyy.spring.basic.Student">
		<!-- 在不引起歧义的情况下，可以不写type -->
		<constructor-arg index="0" value="2" />
		<!-- <constructor-arg index="1" type="java.lang.String" value="Allen" /> -->
		<constructor-arg name="name" value="Allen" />
	</bean>	
	
	<!-- bean唯一标示为id属性，但也可以设置name属性，因为XML规范规定id必须以字母开头且仅含字母和数字  -->
	<!-- 可指定多个属性名，用,:或空格分隔 -->
	<!-- xml中的\在java中要通过\\匹配 -->
	<bean name="\1a \b*" class="com.tyy.spring.basic.Student">
		<property name="id" value="24" />
		<property name="name" value="White" />
	</bean>
</beans>